<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" th:href="@{/img/icon/logo.svg}" type="image/x-icon" />
	<!-- sweet alert-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet" />

	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<script th:src="@{/js/main.js}" type="module"></script>
	<title>Formulario Usuario</title>
</head>

<body class="g-body">
	<!-- <h1 th:text="${add}?'Registrar Usuario':'Actualizar Usuario'"></h1> -->
	<header class="header">
		<div class="fx-cs cursor" id="back-home">
			<img src="/facefood/img/icon/logo-text.svg" alt="logo" class="w-80" />
		</div>
	</header>
	<main class="bg-orange h-100">
		<div class="fx-ss-col g-1 w-40 fx-s-col-reverse">
			<div class="pl-5m">
				<img src="img/avatar/default.png" alt="avatar" id="main-image"
					class="sm-m-1 avatar-img w-40 fade-zoom" />
			</div>
			<h3 class="bg-black-text fade-in mt-2" id="title">
				REGISTRATE EN LA MEJOR COMUNIDAD PARA LOS AMANTES DE LA COMIDA
			</h3>
		</div>

		<div class="right fade-zoom">
			<form action="#" method="POST" class="bg-br-white h-100 w-55vw p-2">
				<div class="g-col-2 sm-g-col-0">
					<div class="fx-ss-col">
						<div><label for="name" class="smll">Nombre </label><b class="obl"> *</b></div>
						<input type="text" id="name" placeholder="Introduce tu nombre" class="input" />
					</div>
					<div class="fx-ss-col">
						<div>
							<label for="lastName" class="smll">Apellidos </label><b class="obl"> *</b>
						</div>
						<input type="text" id="lastName" placeholder="Introduce tus apellidos" class="input" />
					</div>
					<div class="fx-ss-col">
						<div>
							<label for="userName" class="smll">Nombre de usuario </label><b class="obl"> *</b>
						</div>
						<input type="text" id="userName" placeholder="Introduce tu usuario" class="input" />
					</div>
					<div class="fx-ss-col">
						<div>
							<label for="country" class="smll">País de origen </label><b class="obl"> *</b>
						</div>
						<select id="country" class="input">
							<option value="-1" disabled selected>Selecciona un país</option>
						</select>
					</div>
					<div class="fx-ss-col">
						<div>
							<label for="email" class="smll">Email </label><b class="obl"> *</b>
						</div>
						<input type="text" id="email" placeholder="Introduce tu email" class="input" />
					</div>
					<div class="fx-ss-col">
						<div>
							<label for="password" class="smll">Contraseña </label><b class="obl"> *</b>
						</div>
						<div class="psswd-cont">
							<input type="password" id="password" placeholder="Introduce tu contraseña" class="input" />
							<button type="button" id="toggle-password" class="toggle-psswd">🙉</button>
						</div>
					</div>
					<div></div>
					<div class="fx-ss-col">
						<div>
							<label for="password2" class="smll">Repite la Contraseña</label><b class="obl"> *</b>
						</div>
						<div class="psswd-cont">
							<input type="password" id="password2" placeholder="Repite la contraseña" class="input" />
						</div>
					</div>
					<div class="fx-ss-col g-large">
						<div><label for="presentacion" class="smll">Presentación</label></div>
						<input type="text" id="presentacion" placeholder="Descríbete en una frase" class="w-95 input" />
					</div>
					<div class="fx-ss-col my-2 filecontainer">
						<label for="main-image-file" class="smll mb-1">Selecciona tu avatar</label>
						<div class="file-select" id="src-file1">
							<input id="main-image-file" type="file" name="src-file1" aria-label="Imagen"
								accept="image/*">
						</div>
						<span class="file-name smll mt-1"></span>
					</div>
					<div></div>
					<div class="fx-cs">
						<button class="btn btn-primary w-50" id="btnRegister">REGISTRAR</button>
						<img src="/facefood/img/loader.gif" alt="cargando..." id="loading-msg"
							style="display:none; margin-left:10px; width: 60px;">
					</div>
					<button class="btn btn-secondary w-50" id="btnDelete" style="display:none">BORRAR</button>
				</div>
			</form>
		</div>
	</main>
	<footer class="footer">
		<p class="footer-text">© 2025 Maria Cavaller | Creado con cariño 💕</p>
	</footer>
</body>

</html>